
//contact title 
.contact__title__wrapper {
  width: 1020px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 154px 0 135px;
  div{
    font-family: "Playfair Display";
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    &:last-child {
      font-family:"Poppins";
      font-size: 53.36px;
      font-weight: 300;
      align-self: flex-end;
      position: relative;
      &:before {
        content: '';
        width: 413px;
        height: 1px;
        background-color: #000;
        position: absolute;
        top: 50%;
        left: -476px;
      }
    }
  }
}

//contact method
.contact__method{
  height: 749px;
  background-color: #F0F0F0;
  .contact__method-title{
    display: flex;
    flex-direction: column;
    padding: 78px 0 0 130px;
    span {
      font-family: "Playfair Display";
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      &:nth-child(2) {
        font-family: "Poppins";
        font-weight: 300;
      }
      &:last-child {
        text-align: justify;
        font-family: "Poppins";
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-top: 35px;
      }
    }
  }

  .contact__method-list {
    .contact__method-type{
      display: flex;
      justify-content: center;
      gap: 119px;
      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .list__imgs{
          width: 210px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 30px;
          border-bottom: 1px solid #000;
          img {
            width: 37px;
            height: 52px;
            object-fit: cover;
          }
          span {
            text-align: justify;
            font-family: "Poppins";
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            padding-bottom: 28px;
          }
        }

        .list__txt{
          display: flex;
          flex-direction: column;
          span {
            font-family: "Poppins";
            font-size: 20px;
            font-style: normal;
            line-height: normal;
            &:first-child {
              width: 225px;
              text-align: center;
              font-weight: 400;
              padding-top: 28px;
            }
            &:last-child {
              text-align: justify;
              font-weight: 400;
            }
          }
          .time {
            padding: 18px 0 0 25px;
          }
          .calls{
            padding: 28px 35px 0 22px;
          }
          .emails{
            padding-top: 28px;
            margin-left: -22px;
          }
        }
        .list__box__locate{
          margin-top: 84px;
        }
      }
    }
  }
}

//contact team
.contact__team__wrapper{
  padding: 144px 130px 135px;
  .team__title {
    display: flex;
    flex-direction: column;
    span {
      font-size: 32px;
      font-style: normal;
      line-height: normal;
    }
    .item__1{
      font-family: "Playfair Display";
      font-weight: 500;
    }
    .item__2 {
      font-family: "Poppins";
      font-weight: 300;
    }
    .item__3{
      font-family: Poppins;
      font-size: 20px;
      font-weight: 400;
      padding: 26px 0 84px;
    }
  }

  .team__category-list{
    ul{
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      li {
        width: 240px;
        height: 66px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Poppins";
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border:1px solid #000;
        &:last-child {
          width: 338px;
        }
      }
    }
  }

  .team__question {
    display: flex;
    margin: 67px 0 67px;
    position: relative;
    span {
      text-align: justify;
      font-family: "Poppins";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      &:first-child {
        width: 520px;
      }
      &:last-child {
        width: 413px;
        height: 1px;
        background-color: #000;
        position: absolute;
        right: 0;
        top: 50%;
      }
    }
  }

  .team__form-list{
    display: flex;
    flex-wrap: wrap;
    gap: 26px 47px;
    li {
     display: flex;
     flex-direction: column;
     label {
      font-family: "Poppins";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-bottom: 15px;
     }
     input {
      width: 482px;
      height: 52px;
      background-color: #dbdbdb;
     }
     textarea {
      width: 1020px;
      height: 171px;
      background-color: #dbdbdb;
     }
    }
  }

  .team__btns{
    padding-top: 102px;
    text-align: center;
  }
}

